{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

      <div class="card shadow-sm p-4">
        <h3 class="text-center mb-4 py-3 display-2">
          <i class="bi bi-person-lines-fill me-2 text-primary"></i>Edit Profile
        </h3>

        <form method="POST" action="{{ url_for('auth.edit_profile') }}">
          {{ form.hidden_tag() }}

          <!-- All these forms will have details already filled. But, not password. Cause, we are not storing plain password in the db. Only hash -->
          <div class="mb-4">
            {{ form.user_name.label(class="form-label fw-semibold") }}
            {{ form.user_name(class="form-control", placeholder="Enter your full name", value=current_user.name) }}
          </div>

          <div class="mb-4">
            {{ form.email.label(class="form-label fw-semibold") }}
            {{ form.email(class="form-control", placeholder="Enter your email", value=current_user.email) }}
          </div>

          <div class="mb-4">
            {{ form.phone.label(class="form-label fw-semibold") }}
            {{ form.phone(class="form-control", placeholder="Enter your phone number", value=current_user.phone or '') }}
          </div>

         <!-- Will not have data already filled -->
          <div class="mb-4">
            {{ form.password.label(class="form-label fw-semibold") }}
            {{ form.password(class="form-control", placeholder="Leave blank to keep current password") }}
          </div>

          <div class="mb-4">
            {{ form.confirm_password.label(class="form-label fw-semibold") }}
            {{ form.confirm_password(class="form-control", placeholder="Re-enter new password") }}
          </div>

          <button class="btn btn-primary w-100 py-2 fw-semibold" type="submit">
            <i class="bi bi-check-circle me-1"></i> Update Profile
          </button>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
