{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!---The Carousel -->
<div id="FireEventsCarousel" class="carousel slide" data-bs-ride="carousel" style="height:380px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#FireEventsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#FireEventsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#FireEventsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/2905996/pexels-photo-2905996.jpeg?_gl=1*1w3n9w0*_ga*OTIxMjIyMTE5LjE3NjA3NTY1NzM.*_ga_8JE65Q40S6*czE3NjA3NTY1NzIkbzEkZzEkdDE3NjA3NTY2NTEkajU0JGwwJGgw" class="d-block w-100" alt="Carousel Image 1" style="height:380px; object-fit: cover;">
    </div>
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/3473085/pexels-photo-3473085.jpeg?_gl=1*1qe7ekd*_ga*OTIxMjIyMTE5LjE3NjA3NTY1NzM.*_ga_8JE65Q40S6*czE3NjA3NTY1NzIkbzEkZzEkdDE3NjA3NTY2MjgkajQkbDAkaDA." class="d-block w-100" alt="Carousel Image 2" style="height:380px; object-fit: cover;">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/7591515/pexels-photo-7591515.jpeg?_gl=1*x4yf8z*_ga*OTIxMjIyMTE5LjE3NjA3NTY1NzM.*_ga_8JE65Q40S6*czE3NjA3NTY1NzIkbzEkZzEkdDE3NjA3NTY2NDUkajYwJGwwJGgw" class="d-block w-100" alt="Carousel Image 3" style="height:380px; object-fit: cover;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#FireEventsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#FireEventsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Styling for the background colour -->
<style>  
  body {background-color:rgb(75, 75, 75)}
</style>

<div class="container mt-4 text-center text-white">
<h1 class="display-1 fw-bold pb-4">Firevents</h1>
<p class="lead">Upcoming Events</p>
</div>

<!-- Search Bar -->
<div class="d-flex justify-content-center mb-4">
<form class="d-flex w-50" action="{{ url_for('main.search') }}">
  <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="SearchForm" placeholder="Search events by name...">
  <button type="submit" class="flex-shrink-1 btn btn-primary">Search</button>
</form>
</div>

<!-- Filter the music events by genre buttons ----->
<div class="d-flex justify-content-center mb-4">
  <a href="{{ url_for('main.index') }}" class="btn btn-dark btn-outline-light mx-1">All</a>
  <a href="{{ url_for('main.filter_event', category='Jazz') }}" class="btn btn-dark btn-outline-light mx-2">Jazz</a>
  <a href="{{ url_for('main.filter_event', category='Hip-Hop') }}" class="btn btn-dark btn-outline-light mx-2">Hip-Hop</a>
  <a href="{{ url_for('main.filter_event', category='House') }}" class="btn btn-dark btn-outline-light mx-2">House</a>
  <a href="{{ url_for('main.filter_event', category='Classical') }}" class="btn btn-dark btn-outline-light mx-2">Classical</a>
  <a href="{{ url_for('main.filter_event', category='Rock') }}" class="btn btn-dark btn-outline-light mx-2">Rock</a>
  <a href="{{ url_for('main.filter_event', category='Electronic') }}" class="btn btn-dark btn-outline-light mx-2">Electronic</a>
  <a href="{{ url_for('main.filter_event', category='Indie') }}" class="btn btn-dark btn-outline-light mx-2">Indie</a>
</div>

<!--- Music Events - Card for each event ---->
  <div class = container>
  <div class="row justify-content-center">
  {% for e in events %}
    <div class="col-12 col-sm-6 col-md-4 mb-3">
      <div class="card bg-dark text-white h-100">
        {% if e.image %}
          <img src="{{ url_for('static', filename='images/' ~ e.image) }}" class="card-img-top" alt="{{ e.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ e.title }}</h5>
          <p class="card-text">
            {{ e.date_time.strftime('%d %B %Y - %H:%M') }}
          </p>
          <p class="card-text">
            {{ e.description|truncate(140, True) }}
          </p>
          <p><strong>Status:</strong> {{ e.status }}</p>
          <p><strong>Genre:</strong> {{ e.category }}</p>
          <a href="{{ url_for('events.event_detail', event_id=e.id) }}" class="btn btn-primary w-100">View Details</a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="text-center text-white-50">No events yet.</div>
  {% endfor %}
</div>
</div>


{% endblock %}

