{% extends "base.html" %}
{% block title %}{{heading}}{% endblock %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}

<div class="container border-1 border-black">
    <div class="page-header py-5">
        <h4 class="display-2">{{heading}}</h4>
    </div>

    <!-- Form rendering (login or register)---->
    <div class="col-md-6">
        {{render_form(form)}}
    </div>

    <!-- Link to Register -->
    {% if heading == 'Login' %}
    <div class="col-md-4">
        <p>New user? <a href="{{url_for('auth.register')}}">Click here</a> to register.</p> 
    </div>
    {% endif %}
</div>

{% endblock %}